h1 {
    margin: 15px;
}

p {
    margin: 15px;
}

#newCustomerBtn {
    margin: 15px;
}

.form-control {
    width: 30px;
    margin: 15px;
  }

.card {
    margin: 15px;

}

.stockCards {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 25px;
    margin-right: 5px;
}